@model newBlog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset id="detailsSettings">
    <legend>Post</legend>

    <div class="display-label">
        User Name:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author.AuthorUserName)
    </div>

    <div class="display-label">
        Title:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostTitle)
    </div>

    <div class="display-label">
        Author:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostAuthor)
    </div>

    <div class="display-label">
        Date:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostedOn)
    </div>

    <div class="display-label">
        Body:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostText)
    </div>

    <div class="display-label">
        Picture:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostPicture)
    </div>

    <div class="display-label">
        Tags:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostTags)
    </div>

    <div class="display-label">
        Tags:
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostLikes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
