@model IEnumerable<newBlog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="dashItems">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Post Title
        </th>
        <th>
            Author
        </th>
        <th>
            Date
        </th>
        <th>
            Body
        </th>
        <th>
            Picture
        </th>
        <th>
            Tags
        </th>
        <th>
            Likes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="eachPost">
            @item.PostAuthor
        </td>
        <td class="eachPost">
            @item.PostTitle
        </td>
        <td class="eachPost">
            @item.PostAuthor
        </td>
        <td class="eachPost">
            @item.PostedOn
        </td>
        <td class="eachPost" style="width: 200px">
            @if (item.PostText.Length >= 150)
            {
                <small>@item.PostText.Substring(0, 150)...</small>
            }
            else
            {
                <small>@item.PostText</small>
            }
        </td>
        <td class="eachPost">
            <img src="@item.PostPicture"; style="height:75px" />
        </td>
        <td class="eachPost">
            @item.PostTags
        </td>
        <td class="eachPost">
            @item.PostLikes
        </td>
        <td class="eachPost">
            @Html.ActionLink("Edit", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
