@model newBlog.Models.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Author</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorUserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorUserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorLastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorLastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorEmal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorEmal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorDOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorDOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorPic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorPic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorBio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorBio)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AuthorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
