@model IEnumerable<newBlog.Models.Author>

@{
    ViewBag.Title = "Authors";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="dashItems">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Profile Picture
        </th>
        <th>
            Bio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="eachPost">
            @item.AuthorUserName
        </td>
        <td class="eachPost">
            @item.AuthorFirstName @item.AuthorLastName
        </td>
        <td class="eachPost">
            @item.AuthorEmal
        </td>
        <td class="eachPost">
            @item.AuthorDOB.
        </td>
        <td class="eachPost">
            <img src="@item.AuthorPic"; style="height:75px" />
        </td>
        <td class="eachPost" style="width:100px">
            @item.AuthorBio
        </td>
        <td class="eachPost">
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthorID })
        </td>
    </tr>
}

</table>
